.h1::before, .h1::after{
    content: '';
    width: 50px;
    height: 3px;
    background: #b19154;
    display: inline-block;
}
.h1::before{
    margin: 0 15px 10px 0;
}
.h1::after{
    margin: 0 0 10px 15px;
}